/* ---------------------------- [ INIT ] */

*:not(hr) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

input,
select {
  padding: 1px 2px;
}

button {
  cursor: pointer;
}

/* ---------------------------- [ BASE ] */

.d-flex {
  display: flex;
  flex-flow: column;
}

.align-items-center {
  align-items: center;
}

.w-100 {
  width: 100%;
}

.flex-1 {
  flex: 1;
}

.position-relative {
  position: relative;
}

.bottom {
  position: absolute;
  bottom: 0px;
}

.none-select {
  user-select: none;
}

/* ---------------------------- [ COMPONENT ] */

/* Label Header */
.label-header {
  position: relative;
  width: -webkit-fill-available;
  height: 1rem;
  margin: 0.4rem 0.8rem;
  margin-top: 1.2rem;
}
.label-header > hr {
  position: absolute;
  width: 100%;
  z-index: 0;
}
.label-header > label {
  position: absolute;
  margin-left: 0.6rem;
  padding: 0 0.4rem;
  background-color: white;
  z-index: 1;
}

/* Label Input */
.label-input {
  position: relative;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.4rem 1.4rem 0.4rem 1.2rem;
}
.label-input > label {
  width: 25%;
  vertical-align: bottom;
}
.label-input > input {
  width: 70%;
  margin-left: 0.2rem;
  text-align: end;
}
.label-input + .label-input {
  margin-bottom: 1rem;
}

/* Label Select */
.label-select {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0.4rem 1.4rem 0.4rem 1.2rem;
  align-self: flex-end;
}
.label-select > label {
  width: 25%;
  vertical-align: bottom;
}
.label-select > select {
  width: 100%;
  margin-left: 0.2rem;
  text-align: end;
}
.label-select + .label-select {
  margin-bottom: 1rem;
}

/* Item */
.item {
  width: -webkit-fill-available;
  margin: 0.6rem 1rem;
  padding: 0.6rem;
  background-color: slategray;
}
.item.hidden {
  display: none;
}
.item.hover {
  border: 0.3rem solid skyblue;
  padding: 0.3rem;
}
.item.focus {
  border: 0.3rem solid deepskyblue;
  padding: 0.3rem;
}
/* Item - Header */
.item > .item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item > .item-header > div > span:nth-child(1) {
  font-size: 1.2rem;
  color: deepskyblue;
}
.item > .item-header > div > span:nth-child(2) {
  font-size: 0.9rem;
  color: black;
}
/* Item - Data */
.item > .item-data {
  margin: 0.2rem 0;
}
.item > .item-data > input {
  width: -webkit-fill-available;
}
/* Item - Layout */
.item > .item-layout-header {
  position: relative;
  height: 1.2rem;
  margin-top: 0.2rem;
  color: darkgray;
  border-color: slategray;
}
.item > .item-layout-header:hover {
  color: lightgray;
}
.item > .item-layout-header > hr {
  position: absolute;
  top: 25%;
  width: 100%;
  border: 1px solid;
  z-index: 0;
}
.item > .item-layout-header > label {
  position: absolute;
  margin-left: 0.4rem;
  padding: 0 0.4rem;
  background-color: slategray;
  z-index: 1;
}
.item > .item-layout-header > span {
  position: absolute;
  top: 0.1rem;
  right: 0.3rem;
  padding: 0 0.2rem;
  vertical-align: middle;
  border: none;
  color: inherit;
  background-color: slategray;
  z-index: 1;
}
.item > .item-layout-control {
  padding-top: 0.2rem;
}
.item > .item-layout-control.hide {
  display: none;
}
.item > .item-layout-control > .label-input,
.item > .item-layout-control > .label-select {
  display: flex;
  justify-content: space-between;
  margin: 0.4rem 0;
  color: white;
}
.item > .item-layout-control > .label-input > input,
.item > .item-layout-control > .label-select > select {
  width: 140px;
  margin-left: 0.6rem;
}

/* ---------------------------- [ UNIQUE ] */

#layout-wrapper {
  flex-flow: row;
}

#side-control-layout {
  min-width: 250px;
  width: 15vw;
  height: 100vh;
  background-color: white;
}

#item-add {
  position: absolute;
  right: 0.4rem;
  padding: 0 0.4rem;
  text-decoration: underline;
  background-color: white;
  cursor: pointer;
  transition: color 300ms 200ms ease-in-out;
  z-index: 1;
}
#item-add:hover {
  color: deepskyblue;
  transition: color 300ms 0ms ease-in-out;
}

#item-list {
  width: -webkit-fill-available;
  max-height: 60vh;
  margin-top: 0.4rem;
  overflow-y: scroll;
}
#item-list > .item:first-child {
  margin-top: 0;
}
#item-list > .item:last-child {
  margin-bottom: 0;
}

#image-save-btn {
  width: -webkit-fill-available;
  height: 2rem;
  margin: 0.4rem 0.8rem;
  border: none;
  color: white;
  background-color: deepskyblue;
}

#main-canvas-layout {
  flex: 1;
  max-height: 100vh;
}

#main-canvas {
  width: 100%;
  height: 100%;
  background-color: black;
}

#item-popup-layout {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
#item-popup-layout > .item-popup-background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
#item-popup-layout > .item-popup-content {
  position: relative;
  width: 340px;
  height: 460px;
  padding: 0.6rem 0.4rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: white;
  z-index: 1;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
#item-popup-layout > .item-popup-content::-webkit-scrollbar {
  display: none;
}
#item-popup-layout > .item-popup-content > .item-popup-close {
  position: absolute;
  top: 0.6rem;
  right: 0.4rem;
  cursor: pointer;
}
#item-popup-layout > .item-popup-content > .item-popup-select-type {
  margin: 0.6rem 0.4rem 0 0.4rem;
}
#item-popup-layout > .item-popup-content > .item-popup-input-layout {
  margin-top: 0.5rem;
  padding: 0.6rem 0.4rem;
}
#item-popup-layout
  > .item-popup-content
  > .item-popup-input-layout
  > .item-popup-type {
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
  color: deepskyblue;
}
#item-popup-layout
  > .item-popup-content
  > .item-popup-input-layout
  > .item-popup-input-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#item-popup-layout
  > .item-popup-content
  > .item-popup-input-layout
  > .item-popup-input-wrap
  + .item-popup-input-wrap {
  margin-top: 0.6rem;
}
#item-popup-layout
  > .item-popup-content
  > .item-popup-input-layout
  > .item-popup-input-wrap
  > select,
#item-popup-layout
  > .item-popup-content
  > .item-popup-input-layout
  > .item-popup-input-wrap
  > input {
  width: 170px;
}
#item-popup-layout
  > .item-popup-content
  > .item-popup-input-layout
  > .item-popup-input-wrap
  > input[type="number"] {
  text-align: end;
}
#item-popup-layout
  > .item-popup-content
  > .item-popup-input-layout
  > .item-popup-input-wrap
  > select {
  text-align: end;
}
#item-popup-layout > .item-popup-content > .item-popup-add {
  flex: 1;
  display: flex;
  align-items: flex-end;
}
#item-popup-layout > .item-popup-content > .item-popup-add > button {
  width: -webkit-fill-available;
  height: 2rem;
  border: none;
  color: white;
  background-color: deepskyblue;
}
